<a href="https://colab.research.google.com/github/kevinsen-git/TF_Basics/blob/main/03_Modelling_Medical_Cost_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Modelling Medical Cost data
Lets do a regression anlaysis - from a Kaggle Dataset 

Dataset Description and Download 
https://www.kaggle.com/mirichoi0218/insurance/activity

Gitub url for direct download
https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv

A good Analysis based on R 
https://www.kaggle.com/goksunazlican/analysis-of-medical-cost-personal-datasets

A cracker based on Python - must read 
https://www.kaggle.com/asifpervezpolok/insurance-cost-prediction-88-1-r2-score

Lots of cool Graphics 
Lots of cool stats analysis 
Standard models 
Uses SikitLearn

In [1]:
# Standadrd Imports
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

In [9]:
insurance["age"], insurance["sex"]
# Note the type object

(0       19
 1       18
 2       28
 3       33
 4       32
         ..
 1333    50
 1334    18
 1335    18
 1336    21
 1337    61
 Name: age, Length: 1338, dtype: int64, 0       female
 1         male
 2         male
 3         male
 4         male
          ...
 1333      male
 1334    female
 1335    female
 1336    female
 1337    female
 Name: sex, Length: 1338, dtype: object)

## One Hot Encoding 
### Categorical / Ordinal Variables 
This affects correlation calculations
For numeric to numeric use Speraman's Correlation 
For Categorical to Numeric use polyserial correlations
For Categorical to Categorical use polychoric correlations

In [12]:
# Need to turn all the categorical variables into numerics
# One way is to use one hot encodeing 
# Can use from sklearn.preprocessing import OneHotEncoder
# OR pandas get_dummies
insurance_onehot=pd.get_dummies(insurance)
insurance_onehot

# A few things to note
# It does ALL the categorical columns automatically 
# It add the one hot encoded columns at the end 
# It automatically removes the original variable 
# Had 7 columns - sex = 2 region = 4 smoker = 2 = 8 new - take away 3 original - 5 new - now 12 columns
#
# Also note the index column - may have to remove that before passing to neural network ?
# Check the impact of abaove

      age     bmi  ...  region_southeast  region_southwest
0      19  27.900  ...                 0                 1
1      18  33.770  ...                 1                 0
2      28  33.000  ...                 1                 0
3      33  22.705  ...                 0                 0
4      32  28.880  ...                 0                 0
...   ...     ...  ...               ...               ...
1333   50  30.970  ...                 0                 0
1334   18  31.920  ...                 0                 0
1335   18  36.850  ...                 1                 0
1336   21  25.800  ...                 0                 1
1337   61  29.070  ...                 0                 0

[1338 rows x 12 columns]