<a href="https://colab.research.google.com/github/kevinsen-git/TF_Basics/blob/main/03_Modelling_Medical_Cost_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Modelling Medical Cost data
Lets do a regression anlaysis - from a Kaggle Dataset 

Dataset Description and Download 
https://www.kaggle.com/mirichoi0218/insurance/activity

Gitub url for direct download
https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv

A good Analysis based on R 
https://www.kaggle.com/goksunazlican/analysis-of-medical-cost-personal-datasets

A cracker based on Python - must read 
https://www.kaggle.com/asifpervezpolok/insurance-cost-prediction-88-1-r2-score

Lots of cool Graphics 
Lots of cool stats analysis 
Standard models 
Uses SikitLearn

In [19]:
# Standadrd Imports
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split

In [ ]:
#https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

In [9]:
insurance["age"], insurance["sex"]
# Note the type object

(0       19
 1       18
 2       28
 3       33
 4       32
         ..
 1333    50
 1334    18
 1335    18
 1336    21
 1337    61
 Name: age, Length: 1338, dtype: int64, 0       female
 1         male
 2         male
 3         male
 4         male
          ...
 1333      male
 1334    female
 1335    female
 1336    female
 1337    female
 Name: sex, Length: 1338, dtype: object)

## One Hot Encoding 
### Categorical / Ordinal Variables 
This affects correlation calculations
For numeric to numeric use Speraman's Correlation 
For Categorical to Numeric use polyserial correlations
For Categorical to Categorical use polychoric correlations

In [15]:
# Need to turn all the categorical variables into numerics
# One way is to use one hot encodeing 
# Can use from sklearn.preprocessing import OneHotEncoder
# OR pandas get_dummies
insurance_onehot=pd.get_dummies(insurance)
insurance_onehot

# A few things to note
# It does ALL the categorical columns automatically 
# It add the one hot encoded columns at the end 
# It automatically removes the original variable 
# Had 7 columns - sex = 2 region = 4 smoker = 2 = 8 new - take away 3 original - 5 new - now 12 columns
#
# Also note the index column - may have to remove that before passing to neural network ?
# Check the impact of above ?

      age     bmi  ...  region_southeast  region_southwest
0      19  27.900  ...                 0                 1
1      18  33.770  ...                 1                 0
2      28  33.000  ...                 1                 0
3      33  22.705  ...                 0                 0
4      32  28.880  ...                 0                 0
...   ...     ...  ...               ...               ...
1333   50  30.970  ...                 0                 0
1334   18  31.920  ...                 0                 0
1335   18  36.850  ...                 1                 0
1336   21  25.800  ...                 0                 1
1337   61  29.070  ...                 0                 0

[1338 rows x 12 columns]

## Prepare training and test data
### Drop charges from main data frame to make X 
### Just take charges from main data set to make y

In [18]:
X = insurance_onehot.drop("charges", axis=1)
y = insurance_onehot["charges"]
# Note the [] to reference an element  and () to reference a funMBction 
X.head(), y.head()
# X = feature matrix, y = label vector

(   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
 0   19  27.900         0  ...                 0                 0                 1
 1   18  33.770         1  ...                 0                 1                 0
 2   28  33.000         3  ...                 0                 1                 0
 3   33  22.705         0  ...                 1                 0                 0
 4   32  28.880         0  ...                 1                 0                 0

 [5 rows x 11 columns], 0    16884.92400
 1     1725.55230
 2     4449.46200
 3    21984.47061
 4     3866.85520
 Name: charges, dtype: float64)

In [27]:
# Scikit Learn sklearn.model_selection.train_test_split 
from sklearn.model_selection import train_test_split
# The split ration is "how much to leave for testing" - so 0.3 meane 30% 
# Also set the random state so everything is reproducable o/w it will differ from run to run 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.head(), X_test.head(), y_train.head(), y_test.head())
print(X_train.count(),X_test.count(),y_train.count(),y_test.count())
print(len(X_train),len(X_test),len(y_train), len(y_test))

      age    bmi  ...  region_southeast  region_southwest
560    46  19.95  ...                 0                 0
1285   47  24.32  ...                 0                 0
1142   52  24.86  ...                 1                 0
969    39  34.32  ...                 1                 0
486    54  21.47  ...                 0                 0

[5 rows x 11 columns]       age     bmi  ...  region_southeast  region_southwest
764    45  25.175  ...                 0                 0
887    36  30.020  ...                 0                 0
890    64  26.885  ...                 0                 0
1293   46  25.745  ...                 0                 0
259    19  31.920  ...                 0                 0

[5 rows x 11 columns] 560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
Name: charges, dtype: float64 764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
Name: charges, dtype: float64
age                 1070
bmi                 1070
children            1070
sex_female          1070
sex_male            1070
smoker_no           1070
smoker_yes          1070
region_northeast    1070
region_northwest    1070
region_southeast    1070
region_southwest    1070
dtype: int64 age                 268
bmi                 268
children            268
sex_female          268
sex_male            268
smoker_no           268
smoker_yes          268
region_northeast    268
region_northwest    268
region_southeast    268
region_southwest    268
dtype: int64 1070 268
1070 268 1070 268

In [35]:
# Create , Compile, Fit and Predict  

# 1. Create the model 
tf.random.set_seed(42)
insurance_model_1 = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
    ]
)

# 2. Compile the model 
insurance_model_1.compile(loss=tf.keras.losses.mae,
                          optimizer=tf.keras.optimizers.SGD(),
                          metrics=["mae"])

# 3. Fit the model 
hist=insurance_model_1.fit(X_train, y_train, epochs=100)

# Note Pandas is built on top of numpy 
# So our pandas datafraem is just a big numpy array
# tf and numpy play well together 
# so no conversion required it just converted pandas -> numpy -> tf !

Epoch 1/100
34/34 [==============================] - 0s 1ms/step - loss: 8637.1006 - mae: 8637.1006
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 7886.7759 - mae: 7886.7759
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 7558.1470 - mae: 7558.1470
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 7792.0220 - mae: 7792.0220
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 7748.3887 - mae: 7748.3887
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 7595.3940 - mae: 7595.3940
Epoch 7/100
34/34 [==============================] - 0s 1ms/step - loss: 7589.9844 - mae: 7589.9844
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 7698.5576 - mae: 7698.5576
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 7496.7778 - mae: 7496.7778
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 7493.1743 - mae: 7493.1743
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 7769.7295 - mae: 7769.7295
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 7706.9028 - mae: 7706.9028
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 7687.7231 - mae: 7687.7231
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 7689.9004 - mae: 7689.9004
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 7393.5327 - mae: 7393.5327
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7780.6987 - mae: 7780.6987
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 7578.5098 - mae: 7578.5098
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 7750.8354 - mae: 7750.8354
Epoch 19/100
34/34 [==============================] - 0s 1ms/step - loss: 7739.2144 - mae: 7739.2144
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 7875.0654 - mae: 7875.0654
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 7466.6768 - mae: 7466.6768
Epoch 22/100
34/34 [==============================] - 0s 1ms/step - loss: 7941.2329 - mae: 7941.2329
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 7640.2725 - mae: 7640.2725
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7539.2671 - mae: 7539.2671
Epoch 25/100
34/34 [==============================] - 0s 1ms/step - loss: 7619.9653 - mae: 7619.9653
Epoch 26/100
34/34 [==============================] - 0s 1ms/step - loss: 7644.1719 - mae: 7644.1719
Epoch 27/100
34/34 [==============================] - 0s 1ms/step - loss: 7709.0371 - mae: 7709.0371
Epoch 28/100
34/34 [==============================] - 0s 1ms/step - loss: 7366.8662 - mae: 7366.8662
Epoch 29/100
34/34 [==============================] - 0s 1ms/step - loss: 7444.3154 - mae: 7444.3154
Epoch 30/100
34/34 [==============================] - 0s 1ms/step - loss: 7616.4077 - mae: 7616.4077
Epoch 31/100
34/34 [==============================] - 0s 1ms/step - loss: 7686.3853 - mae: 7686.3853
Epoch 32/100
34/34 [==============================] - 0s 1ms/step - loss: 7548.0977 - mae: 7548.0977
Epoch 33/100
34/34 [==============================] - 0s 1ms/step - loss: 7501.5532 - mae: 7501.5532
Epoch 34/100
34/34 [==============================] - 0s 1ms/step - loss: 7363.4160 - mae: 7363.4160
Epoch 35/100
34/34 [==============================] - 0s 1ms/step - loss: 7295.4478 - mae: 7295.4478
Epoch 36/100
34/34 [==============================] - 0s 1ms/step - loss: 7569.8813 - mae: 7569.8813
Epoch 37/100
34/34 [==============================] - 0s 1ms/step - loss: 7548.1997 - mae: 7548.1997
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 7424.3975 - mae: 7424.3975
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 7529.7734 - mae: 7529.7734
Epoch 40/100
34/34 [==============================] - 0s 1ms/step - loss: 7467.3232 - mae: 7467.3232
Epoch 41/100
34/34 [==============================] - 0s 1ms/step - loss: 7635.9292 - mae: 7635.9292
Epoch 42/100
34/34 [==============================] - 0s 992us/step - loss: 7536.8398 - mae: 7536.8398
Epoch 43/100
34/34 [==============================] - 0s 994us/step - loss: 7616.5859 - mae: 7616.5859
Epoch 44/100
34/34 [==============================] - 0s 1ms/step - loss: 7439.4941 - mae: 7439.4941
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 7538.0151 - mae: 7538.0151
Epoch 46/100
34/34 [==============================] - 0s 1ms/step - loss: 7415.1470 - mae: 7415.1470
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 7420.6938 - mae: 7420.6938
Epoch 48/100
34/34 [==============================] - 0s 1ms/step - loss: 7509.9839 - mae: 7509.9839
Epoch 49/100
34/34 [==============================] - 0s 1ms/step - loss: 7541.1133 - mae: 7541.1133
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 7467.8643 - mae: 7467.8643
Epoch 51/100
34/34 [==============================] - 0s 1ms/step - loss: 7389.3560 - mae: 7389.3560
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 7499.7749 - mae: 7499.7749
Epoch 53/100
34/34 [==============================] - 0s 1ms/step - loss: 7523.9282 - mae: 7523.9282
Epoch 54/100
34/34 [==============================] - 0s 1ms/step - loss: 7243.3115 - mae: 7243.3115
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 7429.5864 - mae: 7429.5864
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 7313.3999 - mae: 7313.3999
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 7526.3877 - mae: 7526.3877
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 7542.2666 - mae: 7542.2666
Epoch 59/100
34/34 [==============================] - 0s 1ms/step - loss: 7576.9277 - mae: 7576.9277
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 7546.4048 - mae: 7546.4048
Epoch 61/100
34/34 [==============================] - 0s 1ms/step - loss: 7351.2261 - mae: 7351.2261
Epoch 62/100
34/34 [==============================] - 0s 1ms/step - loss: 7302.1436 - mae: 7302.1436
Epoch 63/100
34/34 [==============================] - 0s 1ms/step - loss: 7393.0879 - mae: 7393.0879
Epoch 64/100
34/34 [==============================] - 0s 1ms/step - loss: 7442.2881 - mae: 7442.2881
Epoch 65/100
34/34 [==============================] - 0s 1ms/step - loss: 7492.6782 - mae: 7492.6782
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 7561.9165 - mae: 7561.9165
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 7340.5137 - mae: 7340.5137
Epoch 68/100
34/34 [==============================] - 0s 1ms/step - loss: 7496.0845 - mae: 7496.0845
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 7617.0303 - mae: 7617.0303
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7641.1948 - mae: 7641.1948
Epoch 71/100
34/34 [==============================] - 0s 1ms/step - loss: 7084.2744 - mae: 7084.2744
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 7240.4902 - mae: 7240.4902
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 7283.4888 - mae: 7283.4888
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 7335.5083 - mae: 7335.5083
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 7275.6392 - mae: 7275.6392
Epoch 76/100
34/34 [==============================] - 0s 1ms/step - loss: 7313.1860 - mae: 7313.1860
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 7485.7588 - mae: 7485.7588
Epoch 78/100
34/34 [==============================] - 0s 987us/step - loss: 7352.2803 - mae: 7352.2803
Epoch 79/100
34/34 [==============================] - 0s 1ms/step - loss: 7520.5703 - mae: 7520.5703
Epoch 80/100
34/34 [==============================] - 0s 1ms/step - loss: 7279.3779 - mae: 7279.3779
Epoch 81/100
34/34 [==============================] - 0s 999us/step - loss: 7273.8477 - mae: 7273.8477
Epoch 82/100
34/34 [==============================] - 0s 1ms/step - loss: 7176.5215 - mae: 7176.5215
Epoch 83/100
34/34 [==============================] - 0s 998us/step - loss: 7425.6289 - mae: 7425.6289
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 7403.1294 - mae: 7403.1294
Epoch 85/100
34/34 [==============================] - 0s 1ms/step - loss: 7356.0088 - mae: 7356.0088
Epoch 86/100
34/34 [==============================] - 0s 1ms/step - loss: 7484.7271 - mae: 7484.7271
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 7217.6074 - mae: 7217.6074
Epoch 88/100
34/34 [==============================] - 0s 1ms/step - loss: 7261.0000 - mae: 7261.0000
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 7134.1562 - mae: 7134.1562
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 7083.4360 - mae: 7083.4360
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 7254.1782 - mae: 7254.1782
Epoch 92/100
34/34 [==============================] - 0s 1ms/step - loss: 7268.7456 - mae: 7268.7456
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 7470.5220 - mae: 7470.5220
Epoch 94/100
34/34 [==============================] - 0s 1ms/step - loss: 7210.9536 - mae: 7210.9536
Epoch 95/100
34/34 [==============================] - 0s 1ms/step - loss: 7395.6816 - mae: 7395.6816
Epoch 96/100
34/34 [==============================] - 0s 1ms/step - loss: 7328.0884 - mae: 7328.0884
Epoch 97/100
34/34 [==============================] - 0s 1ms/step - loss: 7230.4380 - mae: 7230.4380
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 7261.3936 - mae: 7261.3936
Epoch 99/100
34/34 [==============================] - 0s 1ms/step - loss: 7342.5684 - mae: 7342.5684
Epoch 100/100
34/34 [==============================] - 0s 1ms/step - loss: 7106.1714 - mae: 7106.1714

In [36]:
hist